
<header class="sticky top-0 left-0  z-10  flex items-center w-full  justify-between p-4  text-neutral-200  h-28" id="navbar" >
    <a href="#home" class="hover:animate-pulse hover:scale-75 duration-300">
        <img class="aspect-auto w-[9rem]" src="/public/logo.png" alt="">
  </a>
    <nav>
        <ul class="flex space-x-5">
            <li class="font-mono text-xl hover:animate-ping duration-300"><a href="#home">Inicio</a></li>
            <li class="font-mono text-xl hover:animate-ping duration-300"><a href="#main">Productos</a></li>
            <li class="font-mono text-xl hover:animate-ping duration-300"><a href="#slideshow">Menu</a></li>
            <li class="font-mono text-xl hover:animate-ping duration-300"><a href="#footer">Contacto</a></li>
        </ul>
    </nav>
</header>

<style>
    li a:hover {
        color: #ffffff;
        transition: 0.3s;
    }


</style>


  
 